<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.tipcalc" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TipCalc</name>
    <description>
        A simple Tip Calculator.
    </description>
    <author email="jcmackenzie@gmail.com" href="http://cordova.io">
        Jeff MacKenzie - Edgewater Technology
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
