.amounts {
    text-align: center;
}
.amounts label {
    display: inline-block;
    min-width: 150px;
}

.totals {
    color: #080;
}

#resultTable {
    border: 1px solid #b4b4b4;
}

#resultTable tr th {
    color: #666;
    border-bottom: 2px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
}


#resultTable tr td {
    color: #666;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
}
         
#resultTable tr td:last-child {
    border-right: none;
}

#resultTable tr:last-child td {
    border-bottom: none;
}